.View{
    text-align: center;
    background-color: black;
    width: 20%;
    margin-left: 40%;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

@media screen and (max-width:900px) {
    .View{
        text-align: center;
        background-color: black;
        width: 50%;
        margin-left: 25%;
        color: white;
        padding: 10px;
        margin-top: 20px;
    }
    
}